<div id="leftsidebar" class="sidebar">
    <div class="sidebar-scroll">
        <nav id="leftsidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="heading">Main</li>
                <li><a href="/dashboard"><i class="icon-home"></i><span>Dashboard</span></a></li>
                <li class="heading">App</li>
                <li><a href="/inbox"><i class="icon-envelope"></i><span>Inbox</span></a></li>
                <li><a href="/chat"><i class="icon-bubbles"></i><span>Chat</span></a></li>
                <li><a href="/calendar"><i class="icon-calendar"></i><span>Calendar</span></a></li>
                <li><a href="/taskboard"><i class="icon-notebook"></i><span>Taskboard</span></a></li>
                <li class="heading">User</li>
                <li>
                    <a href="#FileManager" class="has-arrow"><i class="icon-folder"></i><span>File
                            Manager</span></a>
                    <ul>
                        <li><a href="/file-dashboard">Dashboard</a></li>
                        <li><a href="/file-documents">Documents</a></li>
                        <li><a href="/file-media">Media</a></li>
                        <li><a href="/file-images">Images</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Blog" class="has-arrow"><i class="icon-globe"></i><span>Manager</span></a>
                    <ul>
                        <li class="active"><a href="/product">Product</a></li>
                        <li><a href="/order">Order</a></li>
                        <li><a href="/user">User</a></li>
                    </ul>
                </li>
                <li class="heading">Extra</li>
                <li class="top">
                    <a href="#Authentication" class="has-arrow"><i class="icon-lock"></i><span>Authentication</span></a>
                    <ul>
                        <li><a href="/page-lockscreen">Lockscreen</a></li>
                        <li><a href="/page-404">Page 404</a></li>
                        <li><a href="/page-403">Page 403</a></li>
                        <li><a href="/page-500">Page 500</a></li>
                        <li><a href="/page-503">Page 503</a></li>
                    </ul>
                </li>
                </li>
                <li class="top">
                    <a href="#Maps" class="has-arrow"><i class="icon-map"></i> <span>Maps</span></a>
                    <ul>
                        <li><a href="/map-google">Google Map</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>